In [1]:
import geopandas as gpd
import numpy as np
import pandas as pd
import rasterio
import rasterio.mask
import matplotlib.pyplot as plt

In [3]:
zone_information = pd.read_csv("/gpfsnyu/home/yw9871/New data/Original_data/zone-information.csv")
zone_information.head(2)

,TAZID,longitude,latitude,charge_count,area,perimeter,name,district
0,1066,113.910301,22.521287,40,1577892.982,5119.3013,南山,南山区
1,1068,113.918680,22.517837,271,1405268.834,5460.2638,南山,南山区

In [4]:
test = zone_information.drop_duplicates(subset=['district'])
test

,TAZID,longitude,latitude,charge_count,area,perimeter,name,district
0,1066,113.910301,22.521287,40,1.577893e+06,5119.3013,南山,南山区
6,937,114.501013,22.493575,22,3.329290e+07,37959.5110,南澳,大鹏新区
7,506,113.905654,22.568448,228,3.296103e+06,7796.8479,新安,宝安区
12,777,114.127638,22.709402,221,5.007215e+06,18370.0512,平湖,龙岗区
13,686,114.042069,22.739023,89,4.095817e+06,8834.7365,观澜,龙华区
19,881,114.335545,22.651144,88,4.993388e+07,42393.5535,马峦,坪山区
22,224,114.069791,22.524168,139,1.827878e+06,6198.1673,福田,福田区
24,408,114.299079,22.599102,57,4.386485e+06,13001.8672,梅沙,盐田区
36,124,114.183035,22.588903,164,2.691902e+07,25128.1089,东湖,罗湖区
200,644,113.970820,22.725623,48,6.371874e+06,12247.2682,凤凰,光明新区